/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
.envgit 
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
-/storage/app/avatars
/storage/cache
posts.md