.rp-item-detail .rp-item-detail-first-row {
    padding-bottom: 13px;
}
.rp-item-detail .rp-item-detail-row {
    padding-top: 13px;
    padding-bottom: 18px;
}
.rp-item-detail .rp-item-detail-row .label, .rp-item-detail .rp-item-detail-first-row .label{
    font-weight: 700;
    color: #616161;
    font-size: 15px;
}
.rp-item-detail-row .label-val, .rp-item-detail-first-row .label-val {
    font-size: 15px;
}
.permission-badge:hover{
    cursor: pointer;
}
